body {
  font: 300 16px 'Assistant',Arial,Helvetica,sans-serif;
  color: #0b516a;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font: 300 20px 'Assistant',Arial,Helvetica,sans-serif;
}

.cont{
  margin:auto!important;
}
